{% extends "base.html" %}

{% block title %}
    <title>Innovative Minds - Signup</title>
{% endblock title %}

{% block signup_active %}
class="active"
{% endblock signup_active %}

{% block content %}
    <form method="POST" action="{{ url_for('signup') }}">
        <div class="form-group log-form">
            <label for="username">Username:</label>
            <input type="text" class="form-control" id="username" name="username" placeholder="Enter your username" required>
        </div>

        <div class="form-group log-form">
            <label for="email">Email:</label>
            <input type="email" class="form-control" id="email" name="email" placeholder="Enter your email" required>
        </div>

        <div class="form-group log-form">
            <label for="password">Password:</label>
            <input type="password" class="form-control" id="password" name="password" placeholder="Enter your password" required>
        </div>

        <div class="form-group log-form">
            <label for="confirm_password">Confirm Password:</label>
            <input type="password" class="form-control" id="confirm_password" name="confirm_password" placeholder="Confirm your password" required>
        </div>

        <div class="form-group log-form">
            <button type="submit" class="btn btn-primary">Signup</button>
        </div>
    </form>
{% endblock content %}